{% extends "base.html" %} {% block main %}
<div class="container">
    {% if failed %}
    <div class="row">
        <div class="col-md-12">

            <h1>Sign in failed!</h1>
            <div class="alert alert-danger"> <strong>Sorry!</strong> {{ message }}

            </div>
        </div>
    </div>
    {% endif %}
    {% if success %}
    <div class="row">
        <div class="col-md-12">
            <h1>Sign in Success!</h1>
            <div class="alert alert-success"> <strong>Welcome Back!</strong>

            </div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span> Welcome.</h3>
                </div>
                <div class="panel-body">
                    <form action="/signin" method="post">
                        <div class="form-group">
                            <label>Username</label>
                            <input type="" name="un" class="form-control" placeholder="root">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" name="pw" class="form-control" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary">Sign In</button>
                    </form>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-hd-video">Exhibition space</h3>
                </div>
                <!--<div class="panel-body">
                    <video width="100%" controls="controls">
                        <source src="https://github.com/michaelliao/learn-javascript/raw/master/video/vscode-nodejs.mp4">
                    </video>
                </div>-->
            </div>
        </div>

    </div>
</div>
{% endblock %}